*.PrjPcbStructure
*.PrjPcbVariants
*.~(1).PrjPcb.Zip
*.~(1).PcbDoc.Zip
*.SchLib.Zip
*.*.SchLib (1).Zip
*.*.PcbLib.Zip
*.*.DbLib.Zip
*.APR_LIB
*.apr
*.DRR
*.EXTREP
*.LDP
*.REP
*.RUL
*.ldb
*.CMP
*.CMPPreview
*.ini
/__Previews